body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;  
}

.header {
    width: 100%;
    display: flex;
    
}
.my-photo {
    width: 40%;
    text-align: center;
}

.my-photo img {
    width: 50%;
    display: inline-block;
}

.header-content {
    width: 50%;
    margin: 20px;
    text-align: left;
}

h1 {
    font-size: 60px;
    margin-top: 20px;
}

h2 {
    font-size: 40px;
    margin-top: 30px;
}

.contact {
    font-style: italic;
}

section {
    margin: 40px;
    font-size: 20px;
    font-weight: bold;
}

.section-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.section-header {
    cursor: pointer;
}

.experience {
    display: none;
    background-color: lightcyan;

}

.studies {
    display: none;
    background-color: lightcyan;
}

.button {
    background-color: rgb(150, 146, 146);
    border-color: blue;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    margin-bottom: 10px;
}

.active {
    display: flex;
    padding: 20px;
}

.footer {
    display: inline-block;
    width: 100%;
    height: 40px;
    
}
.social-links {    
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;   
}

.social-button {
    color: blue;
    text-decoration: none;
    display: inline-block;
    padding: 0 100px 0 100px;
}